@import url('./__container/comments__container.css');

.comments {
    max-width: 1184px;
    margin: 102px auto 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .comments {
        width: 100%;
        max-width: 928px;;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .comments {
        width: 100%;
        max-width: 660px;
    }
}

@media screen and (max-width: 767px) {
    .comments {
        width: 100%;
        max-width: 343px;
        margin: 64px auto 0;
    }
}