@import url('../comment/comment.css');

.comments__container {
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .comments__container {
        width: 100%;
        max-width: 925px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .comments__container {
        flex-wrap: wrap;
        width: 100%;
        max-width: 382px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .comments__container {
        flex-wrap: wrap;
        width: 100%;
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 374px) {
    .comments__container {
        flex-wrap: wrap;
        width: 100%;
        margin: 40px auto 0;
    }
}