@import url('../content-title/content-title.css');
@import url('../content-subtitle/content-subtitle.css');
@import url('./__title/video__title.css');
@import url('./__subtitle/video__subtitle.css');
@import url('./__item-bg/video__item-bg.css');
@import url('./__item/video__item.css');
@import url('./__icon/video__icon.css');
@import url('./__duration/video__duration.css');
@import url('./__container/video__container.css');

.video {
    width: 1184px;
    margin: 102px auto 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .video {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .video {
        width: 100%;
        margin: 64px 0 0;
    }
}