.content-row__main-text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 24px;
    max-width: 720px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .content-row {
        width: 100%;
        max-width: 683px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .content-row {
        width: 100%;
        max-width: 692px;
    }
}

@media screen and (max-width: 767px) {
    .content-row__main-text {
        width: 100%;
        font-size: 16px;
        line-height: 27px;
        margin: 0 0 32px;
    }
}